html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Yellowtail&display=swap');

/* Global Styles */

body {
  background-image: url("./assets/torontoBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
  font-family: 'Josefin Sans', cursive;
  font-size: 62.5%;
}

h1 {
  font-size: 3.4rem;
  text-transform: uppercase;
 }
 
 h2 {
   font-size: 2rem;
   font-family: 'Yellowtail', cursive;
   margin-top: -15px;
 }
 
 h3 {
   font-size: 1.1rem;
   text-transform: uppercase;
   margin: 0px 0px 10px 0px;
 }
 
 p {
   font-size: 1.1rem;
   margin: 0;
 }

 footer p {
  margin: 20px;
  text-align: center;
}

 a {
  color: #ffffff;
 }

 a:hover {
  color:#12DE5F;
  transition: 0.3s;
 }
 
 button {
   font-size: 0.8rem;
   font-weight: 700;
   text-transform: uppercase;
   background-color: #da251d;
   color: #ffffff;
   border: 1px solid transparent;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 20px;
   transition: 0.3s;
 }
 
 button:hover {
   background-color: #ffffff;
   color: #da251d;
 }

 button:focus {
  border: 1px solid #12DE5F;
}

 img {
  margin-top: 30px;
 }

 /* className styles */

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opacityBox {
  text-align: center;
  height: 75vh;
  max-width: 90%;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
}

.resultsSection {
  display: flex;
  height: 125px;
  max-height: 10vh;
  display: flex;
  justify-content: center;
}

.weatherDisplay {
  border-radius: 5px;
  background-image: linear-gradient(60deg, #ffffff, #da251d);
  padding: 20px;
  margin: 0px 10px 0px 0px;
  width: 30%;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherDisplayHour {
  border-radius: 5px;
  background-image: linear-gradient(60deg, #ffffff, #da251d);
  padding: 20px;
  margin: 0px 0px 0px 10px;
  width: 30%;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

/* Media Queries */

@media screen and (max-width: 1150px) {

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 860px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  .resultsSection {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .weatherDisplay {
      margin: 20px 0px 0px 0px;
      width: 60%
  }

  .weatherDisplayHour {
    margin: 20px 0px 0px 0px;
    width: 60%
  }
  .opacityBox {
    height: 90vh;
  }

}

@media screen and (max-width: 670px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  
}

@media screen and (max-width: 510px) {

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    display: none;
  }

  .weatherForm {
    display: flex ;
    flex-direction: column;
    align-items: center;
  }

  .weatherDisplay {
    width: 90%;
    padding: 50px;
}

  .weatherDisplayHour {
    width: 90%;
    padding: 50px;
}

}

@media screen and (max-width: 280px) {

  .opacityBox {
    height: 95vh;
  }

  footer p {
    font-size: 0.8rem;
}

}